# Python Stats Assignment

## Zianne Olverson

### Import of modules

In [7]:
import pandas as pd
import numpy as np

## Reading in data

In [11]:
data = pd.read_csv('brain_size.csv', sep=';', na_values='.')
print(data.head())

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

# Creating 3 arrays from the data

In [14]:
t = np.linspace(-6, 6, 20)
sin_t = np.sin(t)
cos_t = np.cos(t)

# Creating dataframe using 3 arrays

In [16]:
pd.DataFrame({'t':t, 'sin': sin_t, 'cos': cos_t})

           t       sin       cos
0  -6.000000  0.279415  0.960170
1  -5.368421  0.792419  0.609977
2  -4.736842  0.999701  0.024451
3  -4.105263  0.821291 -0.570509
4  -3.473684  0.326021 -0.945363
5  -2.842105 -0.295030 -0.955488
6  -2.210526 -0.802257 -0.596979
7  -1.578947 -0.999967 -0.008151
8  -0.947368 -0.811882  0.583822
9  -0.315789 -0.310567  0.950551
10  0.315789  0.310567  0.950551
11  0.947368  0.811882  0.583822
12  1.578947  0.999967 -0.008151
13  2.210526  0.802257 -0.596979
14  2.842105  0.295030 -0.955488
15  3.473684 -0.326021 -0.945363
16  4.105263 -0.821291 -0.570509
17  4.736842 -0.999701  0.024451
18  5.368421 -0.792419  0.609977
19  6.000000 -0.279415  0.960170

# Observing and manipulating the data

In [17]:
data.shape

(40, 8)

### Data has 40 rows and 8 columns

In [19]:
data.columns

Index(['Unnamed: 0', 'Gender', 'FSIQ', 'VIQ', 'PIQ', 'Weight', 'Height',
       'MRI_Count'],
      dtype='object')

# Printing gender names in columns

In [20]:
print(data['Gender'].head())

0    Female
1      Male
2      Male
3      Male
4    Female
Name: Gender, dtype: object

# Mean VIQ for females within the dataframe